$max-width: 1200px;
$primary-color: #ef6d6d;
// $primary-color: #14c38e;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url("../img/bgnew.jpg");
// $bg-image: url("../img/charles.jpg");
